.jumbotron {
    background-color : #0069d9;
    color: white;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: #0069d9;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;

}

.footer-address-icon {
    padding-right: 7px;
}

.image-card {
    width: 150px;
}

.card-hotel {
    flex: 1 250px;
    margin-top: 10px;
}

.card-hotel {
    padding: 10px 10px 10px 10px;
    flex: 1 250px; 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.tab-content {
    padding-top: 10px;
}