.jumbotron {
  background-color: #0069d9;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #0069d9;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 7px;
}
.image-card {
  width: 150px;
}
.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  padding: 10px 10px 10px 10px;
  flex: 1 250px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
