
$colorprincipal: #0069d9;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color : $colorprincipal;
    color: white;
    @include margenes(50px, 0px);
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: $colorprincipal;
    @include margenes(10px, 0px);
}

.footer-address-icon {
    padding-right: 7px;
}

.image-card {
    width: 150px;
}

.card-hotel {
    flex: 1 250px;
    @include margenes(10px, 0px);
}

.card-hotel {
    padding: 10px 10px 10px 10px;
    flex: 1 250px; 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.tab-content {
    padding-top: 10px;
}