//lessc css/style2.less css/style2.css

@colorprincipal: #0069d9;

.margenes(@top: 0px , @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color : @colorprincipal;
    color: white;
    .margenes(50px, 0px);
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: @colorprincipal;
    .margenes(10px, 0px);
}

.footer-address-icon {
    padding-right: 7px;
}

.image-card {
    width: 150px;
}

.card-hotel {
    flex: 1 250px;
    .margenes(10px, 0px);
}

.card-hotel {
    padding: 10px 10px 10px 10px;
    flex: 1 250px; 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.tab-content {
    padding-top: 10px;
}